@charset "utf-8";

:root {
  --black: #000;
  --bg-beige: #F6ECC9;
  --input-beige: #DED5B5;
}

.container {
  width: min(100% - 30px, 600px);
  margin-inline: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.horizontally-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-space-between {
  display: flex;
  justify-content: space-between;

}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

#root {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.input-and-btn {
  display: flex;
  justify-content: center;
  gap: .5rem;
  height: 2.5rem;
  margin-bottom: 1.5rem;
  input {
    padding-inline: .5rem;
  }
  .add-btn {
    width: 3rem;
    background: url('../media/add-btn.png') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
  }
}

.error-message {
  color: red;
  position: absolute;
  margin-top: 5px;
}

ul {
  flex-grow: 1;
  list-style-type: none;
  width: 20rem;
  /* .list-item {
  } */
}

.item-text {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.completed {
  text-decoration: line-through;
}
