@charset "utf-8";

/* :root {

} */

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

#root {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.input-and-btn {
  display: flex;
  justify-content: center;
  gap: .5rem;
  height: 2.5rem;
  margin-bottom: 1.5rem;
  input {
    padding-inline: .5rem;
  }
  button {
    width: 3rem;
  }
}

ul {
  flex-grow: 1;
}